// Place all the styles related to the map_layers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.ui-autocomplete {
  list-style: none;
  position: absolute;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;
  li {
    border-top: solid 1px #999;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    color: #000;
    .ui-state-hover, .ui-state-active {
      background-color: #FFFCB2;
    }
  }
}

.ui-helper-hidden-accessible {
  position: absolute; left:-999em;
}

.column {
  float: left;
}

.column.character {
  width: 25%;
  align-content: center;
}

.column.terrain {
  width: 25%;
  align-content: center;
}

.column.map {
  width: 50%;
  align-content: center;  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#characterLogisticsRow:after {
  content: "";
  display: table;
  clear: both;
}

#characterLogistics {
  float: left;
}

#characterSkillsRow:after {
  content: "";
  display: table;
  clear: both;
}

#characterSkills {
  float: left;
}

// .mapRow {
//   align-content: center;
// }

td {
  padding: 0; margin: 0;  
  
}

#tile {
  padding: 0; margin: 0;
}

.tileImage {
  width: 80px;
  height: 80px;
  padding: 0; margin: 0;  
  display: block;
  opacity: 0.8;
}

tr {
  padding: 0; margin: 0;  
  
}

#map {
  margin: auto;
  align-content: center;
  border-collapse: collapse;
  border-spacing: 0;
}

.createdCharacterImage {
  width: 80px;
  height: 80px;
}